<main>
  <section id="section-login">
    <h1>Login</h1>
    <form class="row g-3">
      <label for="staticUsuário" class="visually-hidden">Usuário</label>
      <input
        type="text"
        readonly
        class="form-control"
        id="staticUsuário"
        placeholder="email@example.com"
      />

      <label for="inputPassword2" class="visually-hidden">Senha</label>
      <input
        type="Senha"
        class="form-control"
        id="inputPassword2"
        placeholder="Senha"
      />

      <button type="submit" class="btn btn-primary mb-3">login</button>
    </form>
  </section>
</main>
